/* Importing bootstrap.less*/
[ng-cloak]
{
  display: none !important;
}

@import "client/lib/bootstrap/less/bootstrap.less";

/*================ Variables ====================*/

// Colors

@brand-primary:                          #0F7000;
@gray-lighter:                           lighten(@gray-base, 80.5%);
@brand-success:                          #0F7000;

// Scaffolding
@body-bg:                                #E2E6E2;

// Components

@border-radius-base:                     0px;
@border-radius-large:                    0px;
@border-radius-small:                    0px;

// Typography
@font-size-base:                         13px;
@line-height-base:                       2; // 20/13

// Wells
@well-bg:                                #fff;
@well-border:                            lighten(@gray-lighter, 7.5%);;

/*================== Navbar =====================*/

// Navbar main
@navbar-default-color:                   #FFFFFF;
@navbar-default-bg:                      #0F7000;
@navbar-default-border:                  darken(@navbar-default-bg, 7.5%);

// Navbar links
@navbar-default-link-color:              #FFFFFF;
@navbar-default-link-hover-color:        #F0FFF0;
@navbar-default-link-hover-bg:           darken(@navbar-default-bg, 2.5%);
@navbar-default-link-active-color:       #FFFFFF;
@navbar-default-link-active-bg:          darken(@navbar-default-bg, 3.5%);
@navbar-default-link-disabled-color:     #E8E8E8;
@navbar-default-link-disabled-bg:        transparent;

// Navbar brand label
@navbar-default-brand-color:             @navbar-default-link-color;
@navbar-default-brand-hover-color:       darken(@navbar-default-brand-color, 5%);
@navbar-default-brand-hover-bg:          transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:         darken(@navbar-default-bg, 3.5%);
@navbar-default-toggle-icon-bar-bg:      #F5F5F5;
@navbar-default-toggle-border-color:     #F5F5F5;

// Basics of a navbar
@navbar-height:                          40px;
@navbar-margin-bottom:                   0px;

/*================== Navbar =====================*/

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);

/*================ Thumbnail ===================*/

@thumbnail-padding:           4px;
@thumbnail-bg:                none;
@thumbnail-border:            #D0D0D0;

/*================ List Group ==================*/

@list-group-bg:                 none;
@list-group-border:             none;

@list-group-hover-bg:           @well-bg;
@list-group-link-hover-color:   @brand-primary;

@grid-gutter-width:         14px;



/*============= Custom Additions ================*/

/* ---------------------- Global ---------------------- */ 
    
html,body {
    height:100%;
    font-family: Lato;
}  

.nav-none {
    display: none;
}

#main-container {
    margin-top: 14px;
    min-height: 100%;
    position: relative;
}

.main-well {
    min-height: 455px;
}

a:hover {
    text-decoration: underline!important;
}

hr {
    margin-top: 5px!important;
    margin-bottom: 10px!important;
}

.no-margin-bottom {
    margin-bottom: 0px!important;
}

.no-margin-top {
    margin-top: 0px!important;
}

.no-margin-right {
    margin-right: 0px!important;
}

.no-border {
    border: none!important;
}

.thumb-min {
    min-height: 200px;
    min-width: 200px;
    height: auto;
    width: 200px;
}

.brand-color-normal {
    color: @brand-primary;
}
.brand-color-link:hover {
    color: @brand-primary;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: none;
}

.inline {
    display: inline;
}

.page-header-h3 {
    margin-top: 0px;
    font-weight: 600;
    font-size: 1.6em;
}

.navbar-right {
    margin-right:7px;
}

.image-icon {
    width: 18px!important;
    vertical-align: center;
    padding-bottom: 5px;
}

.bird-icon-nav {
    margin-top: 4px;
}

.follow-icon-text{
    margin-left: 5px !important;
}

//autocomplete angular module
.autocomplete {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 2;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

// Follow lists (Following & Profile)
.follow-list {
    list-style: none;
}
.follow-info {
    bottom: 8;
    color: #fff;
    left: 4;
    padding: 5px;
    position: absolute;
    right: 0;
}

.follow-name {
    font-size: 12px;
    line-height: 16px;
}

.follow-pictures {
    width: 95%;
}

@media screen and (max-width: 992px) {
    .follow-pictures {
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        
    }
}

.map-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
}

.google-maps {
    height: 80%;
    width: 80%;
    position: fixed;
    z-index: 100;
    right: 0;
    left:0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid @brand-primary;
}

.close-popup {
    position: fixed;
    top: 55;
    right: 20;
    color: #A4A4A4;
    font-size: 18px;
    z-index: 1000;
}

.close-popup:hover {
    color: #fff;
    cursor: pointer;
}

.location-click {
    color: @brand-primary;
}

.location-click:hover {
    color: #000;
}

.noResults-typeahead, .noPlace {
    position: absolute;
    color: #a94442;
}

.errorTriangle {
    width: 0;
    height: 0;
    border: 1px solid red;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #a94442 transparent;
    position: relative;
    left: 8;
}

.errorText {
    background: #a94442;
    color: #fff;
    padding: 1 5;
    position: relative;
    left: 5;
    border: 1px solid #A82A28;
}

.ErrorSearchBird {
    position: absolute;
    z-index: 10;
    top: 34;
    left: 5;
    height: 30px;
}

.header-inline {
    dislay: inline;
}

#bottom {
    display: block;
    margin-top: 5px;
}

.spinner-icon {
    width: 20 !important;
    height: 20 !important;
    border-width:3px!important;
}

.image-preview-popup {
    position: fixed;
    overflow: auto;
    overflow: hidden;
    z-index: 1000;
    text-align: center;
    top: 70;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.overlay-image-preview {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
}

.image-preview-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid @brand-primary;
    z-index: 1002;
}

.preview-image {
    max-width: 100%;
    max-height: 85vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.image-preview-text {
    position: relative;
    z-index: 2;
    bottom: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    background: @brand-primary;
    border: 0;
}

.preview-image-link {
    color: #fff!important;
    font-size: 20px;
}

.preview-image-link:hover {
    color: #fff!important;
}



// .overlay-image-preview {
//     position: absolute;
//     z-index: 100;
//     right: 0;
//     left:0;
//     margin: auto;
//     background: white;
//     border: 1px solid @brand-primary;
    
// }

// .preview-image {
//     max-width: 100%;
//     max-height: 85vh;
//     display: block;
//     margin-right: auto;
//     margin-left: auto;
// }

// .preview-text {
//     background: white; 
//     border-top: 1px solid @brand-primary;
// }

// Masonry

.masonry {
    display: block;
    li {
        display: inline-block;
        height: auto;
        border: solid 1px @brand-primary;
        margin: 0 0 10px 10px;
        background: #fff;
        img {
            display: block;
        }
    }
}

ul.masonry {
    -webkit-padding-start: 0px!important;
    padding-left: 0px !important;
}

.masonry-item {
    width: 350;
}

.masonry-image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    .masonry-item {
        width: 435;
    }
}

@media screen and (max-width: 992px) {
    .masonry-item {
        width: 644;
    }
}

@media screen and (max-width: 768px) {
    .masonry-item {
        width: 285;
    }
}

.grid-container {
    width: 100%;
}

.grid-img {
    width: 100%;
}



/* ---------------------- Homepage ---------------------- */ 

.homepage-wrapper {
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}
.intro-top-wrapper {
    width: 100%;
    display:block;
    box-sizing: border-box;
    background: transparent url('/img/Background.jpg') bottom center no-repeat;
    background-size: cover;
    min-height: 773;
    position: relative;
    margin-top: -14px;
}

.info-top {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 2%;
    color: #fff;
    text-align: center;
    width: 50%;
    
    h1 {
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 5em;
        text-transform: uppercase;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    }
    
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 1.5em;
        text-transform: uppercase;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 2.2em;
        margin-top: 20px;
        margin-bottom: 35px;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    }
    
    .join {
        background-color: #2574ab;
        font-size: 1.6em;
        font-weight: 600;
        color: #fff;
        text-align: center;
        width: 192px;
        padding: 12px 35px 15px;
        border-radius: 6px;
        margin-bottom: 30px;
    }
    
    .join:hover {
        background-color: #0074ab;
        text-decoration: none!important;
    }
    
    .register-info {
        font-size: 1.6em;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
        letter-spacing: 1px;
        line-height: normal;
        margin-top: 30;
    }
    
    .register-connections {
        margin-top: 20px;
        .or {
            font-size: 1.5em;
            margin: 8px 16px ;
            padding: 3px 6px 6px;
            // border: 2px solid rgba(255,255,255,0.6);
            // border-radius: 50%;
            font-weight: 700;
            color: rgba(255,255,255,0.6);
        }
        .fa {
            border-radius: 3px;
            font-size:  2em;
            border: 2px solid rgba(255,255,255,0.6);
            border-radius: 6;
            font-weight: 700;
            color: rgba(255,255,255,0.6);
            vertical-align: middle;
        }
        
        .fa.fa-google {
            padding: 10 12;
        }
        
        .fa.fa-facebook {
            padding: 10 15;
        }
    }
}

#info-preview {
    background: @brand-primary;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 50;
    .info-preview-video {
        color: #fff;
        display: block;
        text-align: center;
        font-size: 1.7em;
        cursor: pointer;
        text-decoration: none!important;
        
        .fa.fa-play-circle-o {
            font-size: 2em;
            vertical-align: middle;
        }
    }
    
    .info-preview-video:hover {
        color: @body-bg;
    }
}

.vidReel {
    position: fixed;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    .ytFrameWrapper {
        width: 700;
        height: 411;
        display: block;
        margin-right: auto;
        margin-left: auto;
        
        .ytIframe {
            border: 3px solid #0F7000;
            background: #fff;
            width: 100%;
            height: 100%;
        }
    }
}

.video-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
}

@media screen and (max-width: 700px) {
    .ytFrameWrapper {
        width: 300!important;
        height: 150!important;
    }
}

#info-details {
    position: relative;
    overflow: hidden;
    background: #f0ede3;
    .bird-images {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 90vw;
        }
    }
    
    .detail-boxes-wrapper {
        padding-left: 0!important;
        padding-right: 0!important;
        .detail-box {
            padding-left: 20px;
            border: 1px solid #fff;
            border-left:2px solid #fff;
        }
    }
}

#info-phone {
    background-image: url('/img/phone-details.jpg');
    background-position: bottom center;
    background-size: 1440px 546px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
    .info-phone-inner {
        max-width: 1154px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        .info-phone-scaler {
            padding-top: 50%;
        }
        
        .info-phone-text {
            position: absolute;
            top: 20%;
            left: 0;
            color: #fff;
            width: 58%;
            letter-spacing: 1px;
            margin-left: 5%;
                
            p {
                font-size: 2.4em;
                line-height: 1.3em;
                text-align: center;
            }
        }
    }
}
.center-brand {
    width: 100%;
    text-align: center;
}

.info-connect {
    background: #f0ede3;
    border-bottom: 1px solid #fff;
    padding: 30 0 70;
    display: block;
    text-align: center;
    
    .join {
        background-color: #2574ab;
        font-size: 1.6em;
        font-weight: 600;
        color: #fff;
        text-align: center;
        width: 192px;
        padding: 12px 35px 15px;
        border-radius: 6px;
        margin-bottom: 60;
    }
    
    .join:hover {
        background-color: #0074ab;
        text-decoration: none!important;
    }
    
    .register-info {
        font-size: 1.6em;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
        letter-spacing: 1px;
        line-height: normal;
        margin-top: 30;
    }
}

.footer {
    position:absolute;
    left:0;
    width:100%;
    min-height: 80px;   
    background-color: @navbar-default-bg;
    border-color: @navbar-default-border;
    color: @brand-primary;
    vertical-align: baseline;
   
    .footer-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 7;
        
        .footer-logo {
            margin-top: 2px;
            height: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            
            p {
                text-align: center;
                color:#fff;
                margin-bottom: 0;
            }
        }
        
        .footer-links {
            color: #fff;
            display: block;
            
            .links-wrapper {
                text-align: right;
                min-height: 80px;
                width: 100%;
                padding: 23px;
                span {
                    font-size: 1.3em;
                    margin: 3%;
                }
            }
        }
   }
}

@media screen and (max-width: 991px) {
    .info-top {
        width: 100%;
        
        h1 {
            margin-top: 150px;
            font-size: 3.5em;
        }
        
        h2 {
            font-size: 1em;
        }
        
        h3 {
            text-transform: uppercase;
            font-size: 1.7em;
        }
        
        .register-info {
            font-size: 1.3em;
        }
        
        .register-connections {
            margin-top: 20px;
            .or {
                font-size: 0.7em;
            }
            .fa {
                font-size:  2em;
            }
        }
    }
    #info-phone {
        .info-phone-inner {
            .info-phone-text {
                top: 10%;
                p {
                    font-size: 2em;
                }
            }
        }
    }
    .footer-links {
        display: block;
        text-align: center;
        .links-wrapper {
                text-align: center!important;
        
        }
    }
}

@media screen and (max-width: 767px) {
    #info-phone {
        .info-phone-inner {
            .info-phone-text {
                top: 10%;
                p {
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    #info-phone {
        .info-phone-inner {
            .info-phone-text {
                top: 7%;
                p {
                    font-size: 1.1em;
                }
            }
        }
    }
}


@media screen and (max-width: 350px) {
    #info-phone {
        .info-phone-inner {
            .info-phone-text {
                top: 5%;
                p {
                    font-size: 1em;
                }
            }
        }
    }
}


// Login Widget

#a0-lock.a0-theme-default .a0-panel .a0-top-header {
    background: #0f7000!important;
}
#a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    color: #fff!important;
    font-weight: 700!important;
}
#a0-lock.a0-theme-default .a0-overlay.a0-active .a0-panel {
    border: 3px solid #0f7000!important;
}

#a0-lock.a0-theme-default .a0-zocial.a0-googleplus {
    background-color: #d73d32!important;
}

.a0-footer {
    display: none!important;
}
#a0-lock.a0-theme-default .a0-panel .a0-bg-gradient {
    opacity: 0!important;
    background: #0f7000!important;
}



/* ---------------------- Error -------------------------- */

.main-error-container {
    height:100%;
    position: relative;
} 

.error-container {
    text-align: center;
    position: static;
    min-height: 90vh;
    top:0;
    bottom: 0;
}

.fourOfour-titel {
    font-size: 10em;
    font-weight: bold;
    padding-right: 2%;
}

.error-titel {
    font-size: 7.5em;
}

#errorImage {
    img {
        max-width: 20%;
        height: auto;
    }
}

.pageNotFound {
    font-size: 2em;
}

.errorMessage {
    font-size: 1em;
}

@media screen and (max-width: 767px) {
    .fourOfour-titel {
        font-size: 6em;
        line-height: 1;
        margin-top: 20px; 
    }
    .error-titel {
        font-size: 5em;
        line-height: 1;
        margin-bottom: 20px; 
    }
}


/* ---------------------- Navbar ---------------------- */

.nav-glyph{
    line-height: 28px!important;
    font-size: 16px!important;
}

.glyph-drop {
    position: relative;
    left: -5px;
    width: 10px;
}

.navbar-brand {
    margin-left: 0px!important;
    padding-bottom: 10px;
    img {
        display: inline;
    }
    span {
        display: inline;
        margin-left: 5px;
        font-weight: 900;
        font-size: 14;
    }
}

.nav-glyph.fa-bell {
    margin-right: 0px;
}

.navbar-brand:hover {
   text-decoration: none!important;
   background: darken(@navbar-default-bg, 5%);
   span {
       color: #fff;
   }
}

.navbar-drop-tag {
    padding: 7 15;
    color: #fff;
}

.user-name-nav {
    vertical-align: middle!important;
}

.navbar-collapse.collapse.in {
    max-height: 500px!important;
}

.navbar-toggle-dropdown {
    display: block;
}



.navbar-drop-tag:hover {
    background: #0d5e00;
}

.dropdown-menu.nav-dropdown {
    margin-left: -12px;
    background: @brand-primary;
    margin-top: 2px;
    
    li {
        a {
            color: #fff;
        }
        
        a:hover {
            background: #0d5e00;
        }
    }
}

#navbar {
    overflow: hidden;
}

.nav

.angular-notifications-icon {
    right: -10!important;
    top: -5px !important;
    border-radius: 10%!important;
    text-align: center!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0!important;
    min-width: 16px!important;
    height: 16px!important;
    background: red!important;
    color: #fff!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    cursor: pointer!important;
    line-height: 1.4!important;
    font-size: 12px!important;
}

.search-nav {
    max-width: 250px;
    padding: 5px;
}

.search-input-nav {
    height: 30px;
    width: 210px;
    background: #fff;
    border: 1px solid;
    margin-left: 10px;
}

.search-button-nav {
    height: 30px;
    background: #fff;
    border: 1px solid;
    outline: @brand-primary!important;
    span {
        line-height: 0;
        color: @brand-primary;
    }
}

.nav-names, .nav-names-drop {
    font-size: 14;
    vertical-align: top;
    margin-left: 15px;
    text-decoration: none!important;
}

.nav-names:hover, .nav-names-drop:hover {
    text-decoration: none!important;
}

.notifications-nav-name {
    display: none!important;
    margin-left: 15px;
}

@media screen and (max-width: 992px) {
    .nav-names {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav-names, .notifications-nav-name {
        display:inline!important;
    }
}


/* ---------------------- Dashboard ---------------------- */ 

.dash-posts {
    padding-bottom: 0px;
}
.dash-capture-info {
    margin-top: 0px;
    margin-bottom: 5px;
}

.dash-capture-time {
    margin-top: 5px;
}

.dash-thumb-img {
    opacity:0;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.top-likes {
    bottom: 3;
    color: #fff;
    left: 20;
    padding: 5px;
    position: absolute;
    right: 0;
    font-size: 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.9);
}

.top-liked-captures {
    max-width: 195px;
    width: 100%
}

.top-captures {
    float: right;
}

.statistics-header {
    font-weight: bold;
    margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
    .top-captures {
        float: none;
    }
}


/* ---------------------- Following ---------------------- */


.follow-capture-info {
    background: @brand-primary;
    color: #fff;
    padding: 5px;
    width: 100%;
    display: inline-block;
}

.follow-capture-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.following-capture-time {
    font-weight: 500;
}

/* ---------------------- Users list ---------------------- */

.users-inline {
    display: inline;
}
.user-search {
    display: inline;
    align: right;
}

.user-list-image {
    margin-right: 10px;
}

.sort-icon:hover {
    cursor: pointer;
}

/* ---------------------- Create Capture ---------------------*/
.uploadcare-widget-button.uploadcare-widget-button-open {
    position: relative;
    top: 10px;
    background: #0F7000;
    border-radius: 0;
    padding: 15px;
}


/* ---------------------- View Capture ---------------------- */

.capture-manage-icons {
    float:right;
    font-size: 14px;
    display: inline;
    span {
        padding: 3px;
        cursor: pointer;
    }
}

.suggest-birdname-button {
    position: relative;
    top: -5px;
    left: 0px;
    font-size: 10px;
    padding: 5px;
    border-radius: 5%;
    background: @brand-primary;
}

.popover-inner {
    min-width: 200px;
}

.suggestion-button-text{
    color: fff;
}

// Main image
.captureImg {
    max-height: 800px;
}

//Popup modal image
.modal-dialog {
    height: 90vh;
    position: relative;
    top:5vh;
    bottom:0;
    right:0;
    left:0;
    margin: auto;
    background:none!important;
    width: 80%;
}

.modal-content{
    height: 90vh;
    position: relative!important;
    background-color:rgba(0, 0, 0, 0);
    border: none!important;
    border: none!important;
    border-radius:none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-clip: none!important;
    width: auto;
}

.imageModel{
    max-height: 90vh;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Popup modal edit:
.modal-header {
    background: white;
    color: #0a4a00;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-body {
    position: relative;
    padding: 15px;
    background: white;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.comments {
    background: #fff;
    border:1px solid #ddd;
}

.commentActions {
    font-size: 12px;
    color: #bbb;
}

.vote-comment-buttons{
    display: inline;
    position: relative;
    right: 0;
    font-size: 1.3em;
}

.ngTruncateToggleText {
    cursor: pointer;
}

.vote-amount {
    display: inline;
    float: right;
    margin-right: 10px;
    font-size: 1.3em;
    margin-right: 10px!important;
}
@media screen and (max-width: 480px) {
    .vote-comment-buttons{
        display: block;
        text-align: center;
    }
    .vote-amount {
        display: block;
        float: none!important;
        text-align: center;
    }
}


.liked-markup {
    color: @brand-primary;
}

.capture-action-buttons {
    margin-left: 20px;
    // color: #6A7C6B;
}

.capture-action-buttons.open {
    color: @brand-primary;
}

.capture-action-active {
    color: @brand-primary;
}

.view-capture-thumb {
    margin-bottom: 10px;
}

.share-buttons {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    line-height: 0.3;
    min-height: 10px;
}

.facebook-icon {
    color: #3b5998;
}

.twitter-icon {
    color: #0084B4;
}

.google-icon {
    color: #d73d32;
}

.fa.fa-facebook-official.share-icon, .fa.fa-twitter.share-icon, .fa.fa-google-plus.share-icon {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 5px;
}

.comments-section {
    margin-left: 7px;
    margin-right: 7px;
}

.birdname-noResults {
    margin-top: -6px;
}

/* ---------------------- Profile -------------------------- */

.profile-header-content {
    padding: 0;
    background: url(/img/user-profile-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-heading-row {
    margin-left: 0;
    margin-right: 0;
}

.profile-heading-info {
    position: relative;
}
.profile-pic {
    width: 200px;
    height: 200px;
    position: relative;
    top: 20px;
    left: 25px;
    border: 1px solid @brand-primary;
    z-index: 5;
    background: white;
}

.profile-heading {
    position: absolute;
    top: 130px;
    left: 250px;
    display: inline;
    color: white;
}

.profile-heading-name {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.profile-user-stats {
    background: @brand-primary;
    min-height: 50px;
    color: white;
    margin-bottom: 20px;
}

.header-stats-info {
    position: relative;
    padding-left: 245px;
    font-size: 20px;
    top: 4px;
}

.header-stats-count {
    font-size: 1em;
}

.header-stats-title {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 600;
}

.header-stats-devider {
    font-size: 15px;
    margin: 10px;
}
.header-stats-right {
    float: right;
    position:relative;
    top: 10px;
    right: 5px;
}

.connected {
    font-size: 30px!important;
    position:absolute;
    bottom: 75;
    right: 15px;
    color: #fff;
}

.header-stats-button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    top: 4px;
}
.profile-captures-wrapper {
    padding: 7px;
    width: 50%;
    float: left;
}
.profile-captures {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background:center;
    background-size:cover;
}

.view-all-captures {
    position: absolute;
    top: 20px;
    right: 26px;
}

.follow-popup {
    height: 500px;
    width: 350px;
    position: fixed;
    z-index: 100;
    right: 0;
    left:0;
    top: 30;
    bottom: 0;
    margin: auto;
    border: 1px solid @brand-primary;
    background: white;
    .follow-header {
            padding: 10 10 0;
            font-weight: bold;
        h1 {
           margin-top: 0px;
           margin-bottom: 0px;
           margin-top: 0;
           font-weight: 600;
           font-size: 1.6em;
        }
        .close-follow {
            position: absolute;
            right: 3px;
            top: 3px;
            color: #A4A4A4;
            font-size: 18px;
            cursor: pointer;
        }
        .close-follow:hover {
            color: #000;
        }
    }
    
    .follow-list {
        margin: 0 10px;
        padding: 5px;
        a {
            p {
                margin-bottom: none!important;
                padding: 5px;
                img {
                    margin-left: 5px;
                    max-width: 50px;
                }
                span {
                    margin-left: 5px;
                    font-size: 1.1em;
                    font-weight: bold;
                }
            }
            p:hover {
                background: #E4EBE3;
            }
        }
        hr {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }
}

.follow-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
}

.no-captures-found {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    
    img {
        max-width: 50%;
    }
}

.profile-search {
    display: inline;
}

@media screen and (max-width: 991px) {
    .connected {
        top: 5;
    }

    .profile-user-stats {
        margin-bottom: 0px;
    }
    
    .profile-captures-wrapper {
        width: 25%;
        float: left;
    }
}

@media screen and (max-width: 767px) {
    .profile-heading-info {
        position: inherit;
        min-height: 185px;
        display:block;
        
    }
    .profile-pic {
        margin-top: 5px;
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .profile-heading {
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    
    .header-stats-info {
        position: inherit;
        padding-left: 0px;
        font-size: 20px;
        top: 4px;
        display: block;
        text-align: center;
        top: 0;
        padding-bottom: 5px;
    }
    .header-stats-right {
        float: none;
        display: block;
        position:inherit;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-bottom: 10px;
        top: 5;
    }
}

/* ----------------------- Birdlist ------------------------*/

.birdlist-info-wrapper {
    padding-left: 0;
    height: 800px;
}

.birdlist-search {
    margin-bottom: 0;
}

.birdlist-search-input {
    width: 100%!important;
}
table.navbox {
    display: none;
}

.reflist, .mw-editsection, .reference, .toc, .stub{
    display: none;
}

.info-bird-html {
    margin-right: 7px;
    margin-left: 7px;
}

.infobox.biota {
    padding: 5;
    border: 1px solid @brand-primary;
    margin-bottom: 10px;
    float: left;
    margin-right: 25px;
    max-width: 230px;
    margin-left: 7px;
    tbody {
        tr {
            th {
                padding: 5px;
            }
            
            td {
                padding: 10px;
            }
        }
    }
}

.birdlist-named {
    margin-bottom: 5px;
}

/* ----------------------- Notifications --------------------*/

.notifications-inline {
    display: inline;
}
.notifications-header-count{
    font-weight: bold;
    display: inline;
}
.mark-as-read {
    float: right;
}
.view-all {
    float: right;
}

.notification-link {
    background: #F7FFF7;
    border-right: none;
    border-left: none;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    outline: 0;
}

.notification-user-name {
    font-weight: bold;
}

.notification-seen {
    background: #fff!important;
}

.notification-link:hover {
    background: #E4EBE3!important;
    cursor:pointer;
}


/* ---------------------- Smaller screens ---------------------- */        
@media screen and (min-width: 991px) {

    .no-padding-right {
        padding-right: 0px!important;
    }
    
    .no-padding-left {
        padding-left: 0px!important;
    }
}

@media screen and (max-width: 990px) {

    .no-padding-right {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    
    .no-padding-left {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}