<div ng-controller="viewCaptureCtrl">
    <form name="addBirdSuggestions" ng-submit="addBirdSuggestion()" ng-show="capture.birdname=='Unknown'" >
        <div class="form-group" ng-class="{ 'has-error': noResults }">
            <label for="birdname">Birdname:</label>
            <input type="text" class="form-control" autocomplete="off" id="birdSuggestion" class="col-md-6" ng-model="birdSuggestion" placeholder="Give the birdname.."
                uib-typeahead="bird for bird in birds | filter:$viewValue | limitTo:8" 
                ng-enter="birdSuggestionInfo(birdSuggestion, noResults)" typeahead-no-results="noResults" typeahead-select-on-blur="true"
                uib-tooltip="The users has not added a birdname to his capture! This is most likely because he does not know the name. If you know it, let him know."
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                tooltip-enable="!birdname"
                required>
                <div ng-show="noResults" class="noResults-typeahead birdname-noResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found - Please pick a correct birdname!
                </div>
                <div ng-show="birdIsTaken" class="noResults-typeahead birdname-noResults">
                  <i class="glyphicon glyphicon-remove"></i> That birdname seems to have already been suggested!
                </div>
                <div ng-if="suggestionPreview">
                    <hr>
                        <p><strong>You want to suggest:</strong> <br/><span style="font-size:16px">{{suggestionBirdName}}</span></p>
                        <p><img ng-src="{{suggestionBirdImage}}"></p>
                        <p>{{suggestionBirdInfo}}</p>
                    <hr />
                </div>
        </div>
        <button type="button" ng-click="addBirdSuggestion()" class="btn margin-left btn-success suggestBirdnameBtn" ng-disabled="addBirdSuggestions.$invalid || noResults">Suggest Birdname</button>
    </form>
</div>