<div class="container" id="main-container">
    <div class="col-md-12">
        <form class="well main-well" name="addCapture">
            <div class="form-group">
                <h3 class="page-header-h3">Capture form</h3>
                <hr />
                <div class="form-group" align="center">
                    <!--<button type="button" class="btn btn-default" ng-click="upload()">-->
                    <!--    Upload your capture-->
                    <!--</button>-->
                    <input
                      uploadcare-widget
                      ng-model="object.image.info.uuid"
                      data-public-key="6d9f5c6bd46c84974963"
                      data-tabs="file facebook gdrive instagram"
                      data-images-only="true"
                      data-preview-step="false"
                      data-clearable="false"
                      data-multiple="false"    
                      on-upload-complete="onUCUploadComplete(info)"
                     />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': noResults }">
                <label for="birdname">Birdname:</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="checked" ng-click="toggleBirdname()">
                    </span>
                    <input type="text" class="form-control" id="birdname" ng-model="birdname" required ng-disabled="checked" autocomplete="off" placeholder="Check the box if you don't know!" 
                        uib-typeahead="bird for bird in birds | filter:$viewValue | limitTo:8" typeahead-no-results="noResults" typeahead-select-on-blur="true" ng-enter="birdPreviewInfo(birdname,noResults)"
                        uib-tooltip="Pick a bird or check the box if unsure!"
                        tooltip-placement="top-right"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="!birdname">
                </div>
                <div ng-show="noResults" class="noResults-typeahead">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found - Please Try Again!
                </div>
            </div>
            <div class="form-group move-down" ng-class="{ 'has-error': place === null }">
                <label for="place">Picture taken in: <span ng-show="locationMessage"> <img src="/img/spinner.gif" width="15"/></span> {{locationMessage}}</label>
                <!--<div ng-if="autoGeolocation">-->
                <!--    <input type="checkbox" ng-model="giveLocation" ng-click="locationInput()">-->
                <!--    <p>A location seems to be found! Check for autocompletion.</p>-->
                <!--</div>-->
                <input type="text" class="form-control" id="place" ng-model="place.formatted_address" ng-autocomplete options="options" details="place" ng-click="checkPlace(place)"
                uib-tooltip="Please pick the location where you captures your photo!"
                tooltip-placement="top-right"
                tooltip-trigger="mouseenter"
                tooltip-enable="!details.formatted_address"
                tooltip-class="tooltip">
                <!--<div class="form-control" ng-show="autoLocation" ng-model="place">{{autoLocation}}</div>-->
                <div ng-show="place === null" class="noPlace">
                  <i class="glyphicon glyphicon-remove"></i> Please fill in a valid location!
                </div>
            </div>
            <div class="form-group">
                <label for="note">Any thoughts:</label>
                <input type="text" class="form-control" id="note"ng-model="note" placeholder="Anything extra you would like to add?">
            </div>
            <h3 class="page-header-h3">Preview</h3>
            <hr />
            <h3 ng-hide="checked || !birdname" class="previewBirdHeader">{{birdname}}</h3>
            <div ng-if="birdPreview" ng-click="showBirdPreview()" class="clickable preview-information-bird">Preview Information <span class="glyphicon" ng-class="[{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}]"></span></div>
            <div ng-if="birdPreview" data-slide-toggle="birdPreviews" class="birdPreview">
                <p><strong>This birdname that you chose for is:</strong> <br/><span style="font-size:16px">{{previewBirdName}}</span></p>
                <p><img ng-src="{{previewBirdImage}}"></p>
                <p>{{previewBirdInfo}}</p>
            </div>
            <h4 ng-show="place"><span class="fa fa-map-marker"></span> {{place.formatted_address}}</h4>
            <!--<h4 ng-show="autoLocation"><span class="fa fa-map-marker"></span> {{autoLocation}}</h4>-->
            <p ng-if="note"><i>"{{note}}"</i></p>
            <!-- Show the thumbnail only when the picture is uploaded -->
            <div class="thumbnail" ng-if="capture.picture">
            <!-- the picture is rendered with width: 500 and sharpened -->
                <img ng-src="{{capture.picture}}-/resize/800x/">
            </div>
            <div class="form-group">
                <button type="button" class="btn margin-left btn-success" ng-click="addToDatabase()" ng-disabled="addCapture.$invalid || !capture.picture ||  noResults">Place your capture</button>
            </div>  
        </form>
    </div>
</div>