<form class="well col-md-4" name="addCapture">
    <div class="form-group">
        <h4><strong>Capture form:</strong></h4>
        <hr />
        <div class="text-center">
            <button type="button" class="btn btn-default" ng-click="upload()">
                Upload your capture
            </button>
        </div>
    </div>
    <div class="form-group">
        <label for="birdname">Birdname:</label>
        <div class="input-group">
            <span class="input-group-addon">
                <input type="checkbox" ng-model="checked" ng-change="toggleType()" id="toggleType">
            </span>
            <input type="text" class="form-control" id="birdname" ng-model="birdname" required ng-disabled="checked" placeholder="Check box for unknown">
        </div>
    </div>
    <div class="form-group move-down">
        <label for="place">Picture taken in:</label>
        <input type="text" class="form-control" id="place" ng-model="place" ng-autocomplete options="options" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn margin-left btn-success" ng-click="addToDatabase()" ng-disabled="addCapture.$invalid">Place your capture</button>
   </div>
</form>

<div class="col-md-8 well">
    <div class="form-group">
        <h4><strong>Capture preview:</strong></h4>
        <hr />
        <div style="margin-top:10px;">
            <!-- Show the thumbnail only when the picture is uploaded -->
            <div class="thumbnail" ng-if="capture.picture">
            <!-- the picture is rendered with width: 500 and sharpened -->
            <img ng-src="{{capture.picture.url | fpConvert: {filter:'sharpen'} }}">
            </div>
        </div>
        <span ng-mouseover="showPopover()" ng-mouseleave="hidePopover()" class="glyphicon glyphicon glyphicon-{{captureType}}-sign glyphicon-design"></span> 
        <label for="birdname">Birdname:</label>
        <input type="text" class="form-control" id="birdname-preview" disabled value="{{birdname}}">
        <label for="place">Picture taken in:</label>
        <input type="text" class="form-control" id="place-preview" disabled value="{{place}}">
    </div>
</div>

