<div class="col-md-8">
    <div class="well main-well">
        <h3 class="page-header-h3">Recent Global Activity</h3>
        <hr />
        <div ng-if="captures" ng-repeat="capture in captures | orderBy :'created_at':true | limitTo:10" class="list-group-item dash-posts">
            <div class="thumbnail no-border no-margin-bottom"> 
                <h4 class="dash-capture-info">
                    <span>
                        <a ui-sref="user-profile({id: capture.userId})" class="clickable">
                            <i class="fa fa-user"></i> {{capture.author}}
                        </a> captured a photo in 
                        <span class="fa fa-map-marker"></span> {{capture.place}}
                    </span>
                </h4>
                <a ui-sref="detail({id: capture._id})">
                    <img ng-src="{{capture.picture}}" alt="bird" onload="this.style.opacity='1';" class="dash-thumb-img .thumb-min"></img>
                </a>
                <h5 class="dash-capture-time"><span class="glyphicon glyphicon-time"></span>&#160;<span am-time-ago="capture.created_at"></span></h5>
                <hr />
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="well">
        <h3 class="page-header-h3">Most Liked Captures</h3>
        <hr />
        <div class="row">
            <div ng-if="captures" ng-repeat="capture in captures | orderBy:'-votes.length' | limitTo:3">
                <a ui-sref="detail({id: capture._id})" class="list-group-item col-md-12">
                    <div class="thumbnail no-border no-margin-bottom"> 
                        <img ng-src="{{capture.picture}}" onload="this.style.opacity='1';" class="dash-thumb-img top-liked-captures" alt="bird"/>
                        <span class="top-likes-container">
                            <h5 class="no-margin-top top-likes"><strong>{{capture.votes.length}}</strong> <i class="fa fa-thumbs-o-up"></i><strong> Received</strong></h5>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="well">
        <h3 class="page-header-h3">Top Capturers:</h3>
        <hr />
        <div class="row">
            <div ng-if="captures" ng-repeat="topPoster in topPosters | orderBy:'-amountPosted' | limitTo:3">
                 <a ui-sref="user-profile({id: topPoster.user.user_id})" class="list-group-item col-md-12">
                    <div class="thumbnail no-border no-margin-bottom"> 
                        <img ng-show="topPoster.user.identities[0].provider=='facebook'" ng-src="{{topPoster.user.picture_large}}" width="150px">
                        <img ng-show="topPoster.user.identities[0].provider=='google-oauth2'" ng-src="{{topPoster.user.picture}}" width="150px">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
  