<div class="col-md-12">
    <div class="well error-container">
        <hr>
            <span class="fourOfour-titel">404</span> <span class="error-titel">error</span>
        <hr>
        <span class="pageNotFound"><span>Page not found</span></span>
        <div id="errorImage"><img src="/img/notfound.jpg" /></div>
        <span class="errorMessage">
            <p>We're sorry, but the page you are looking for was not found! <br />
               Please return back to the <a ui-sref="dashboard" class="clickable"><strong>dashboard</strong></a>.</p>
        </span>
    </div>
</div>