<div class="col-md-9">
    <div class="well">
        <h3>Personal Dashboard:</h3>
        <hr />
            <div ng-hide="captures">
                <h4 align="center">
                    <strong>The people that you are following, have not posted anything yet.. Yikes!</strong>
                    <br /><br />
                    Quickly, go follow more people!</h4>
            </div>
        <row>
            <ul class="dynamic-grid" angular-grid="captures" ag-id="gallery" ag-refresh-on-img-load="true" >
                <li data-ng-repeat="capture in captures" class="grid">
                     <a ui-sref="detail({id: capture._id})"><img ng-src="{{capture.picture}}" class="grid-img" /></a>
                </li>
            </ul>
        </row>
    </div>
</div>
<div class="col-md-3">
    <div class="well">
        <h4>Following:</h4>
        <hr />
        <ul ng-scrollbars ng-scrollbars-config="config" class="list-group">
            <li ng-if="following" ng-repeat="follow in following">
                <p><img ng-src="{{follow.picture}}" width="35px"> <a ui-sref="user-profile({id: follow.user_id})" class="captureLink">{{follow.name}}</a></p>
            </li>
        </ul>
    </div>
</div>
