<div class="container" id="main-container">
    <div class="col-md-8">
        <div class="well main-well" >
            <h3 class="page-header-h3">Following Dashboard <span class="header-devider">|</span> <a ui-sref="dashboard" class="dash-toggle">Recent Global Activity</a></h3>
            <hr />
            <h4 align="center" ng-if="nothing">
                                <strong>There are no posts to be shown... Yikes!</strong>
                                <br /><br />
                                Quickly, go follow more people!</h4>
            <div ng-if="captures" ng-repeat="capture in captures | orderBy :'created_at':true | startFrom:currentPage:pageSize" class="list-group-item dash-posts">
                <div class="thumbnail no-border no-margin-bottom"> 
                    <h4 class="dash-capture-info">
                        <span>
                            <i class="fa fa-user"></i> 
                            <a ui-sref="user-profile({id: capture.userId})" class="clickable">
                                <strong>{{capture.author}}</strong>
                            </a> captured a photo in 
                            <span class="fa fa-map-marker"></span> <strong class="clickable location-click" ng-click="showGoogleMap(capture.place)">{{capture.place}}</strong>
                        </span>
                    </h4>
                    <a ui-sref="detail({id: capture._id})">
                        <img ng-src="{{capture.picture}}-/resize/670x/" alt="bird" onload="this.style.opacity='1';" class="dash-thumb-img .thumb-min feed-image"></img>
                    </a>
                    <h5 class="dash-capture-time"><span class="glyphicon glyphicon-time"></span>&#160;<span am-time-ago="capture.created_at"></span></h5>
                    <hr />
                </div>
            </div>
            <div ng-show="captures.length > pageSize">
                <uib-pagination total-items="captures.length"
                                items-per-page="pageSize"
                                ng-model="currentPage">
                </uib-pagination>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3 class="page-header-h3">Following · {{following.length}}</h3>
            <hr />
            <ul ng-scrollbars class="list-group">
                <li ng-if="following" ng-repeat="follow in following" class="col-md-6 follow-list" >
                    <a ui-sref="user-profile({id: follow.user_id})" class="captureLink">
                        <p><img ng-show="follow.identities[0].provider=='facebook'" ng-src="{{follow.picture_large}}" class="follow-pictures">
                           <img ng-show="follow.identities[0].provider=='google-oauth2'" ng-src="{{follow.picture}}" class="follow-pictures">
                            <span class="follow-info">
                                <span class="follow-name">{{follow.name}}</span>
                            </span>
                        </p>
                    </a>
                </li>
                <h4 align="center" ng-if="notFollowing">
                    <strong>You are not following anyone</strong>
                </h4>   
            </ul>
        </div>
    </div>
</div>