<div class="col-md-12">
    <div class="well">
        <h3>Users list:</h3>
        <hr />
        <form class="form-inline user-search">
            <input type="text" ng-model="search" class="form-control" placeholder="Search User">
        </form>
        
        <table class="table table-striped">
            <thead>
                    <tr>
                        <th class="sort-icon" ng-click="sort('name')">Name
                            <span class="glyphicon" ng-show="sortKey=='name'" ng-class="[{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}]"></span>
                        </th>
                        
                        <th class="sort-icon" ng-click="sort('gender')">Gender
                            <span class="glyphicon" ng-show="sortKey=='gender'" ng-class="[{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}]"></span>
                        </th>
                        <th class="sort-icon" ng-click="sort('created_at')">Joined on
                            <span class="glyphicon" ng-show="sortKey=='created_at'" ng-class="[{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}]"></span>
                        </th>
                        <th class="sort-icon" ng-click="sort('last_login')"> Last login
                            <span class="glyphicon" ng-show="sortKey=='last_login'" ng-class="[{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}]"></span>
                        </th>
                    </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users|filter:search|orderBy:sortKey:reverse|startFrom:currentPage:pageSize">
                    <td><img ng-src="{{user.picture}}" width="35px"> <a ui-sref="user-profile({id: user.user_id})">{{user.name}}</a></td>
                    <td>{{user.gender}}</td>
                    <td>{{user.created_at | date:'MMM dd, yyyy'}}</td>
                    <td><span am-time-ago="user.last_login"></span></td>
                </tr>
            </tbody>
        </table>
        <div ng-if="users.length > pageSize">
            <uib-pagination 
                    total-items="users.length"
                    items-per-page="pageSize"
                    ng-model="currentPage">
            </uib-pagination>
        </div>
    </div>
</div>