<div class="container" id="main-container">
    <div class="col-md-12">
        <div class="well profile-header-content">
            <div class="row profile-heading-row">
                <div class="profile-heading-info">
                    <img class="profile-pic" ng-src="{{profilePic()}}" alt="{{user.nickname}}" width="200" height="200"/>
    
                    <div class="profile-heading">
                        <h3 class="profile-heading-name">{{user.name}}</h3>
                        <span>{{user.email}}</span>
                    </div>
                </div>
                <i  class="connected fa {{connectedWith()}}"></i>
            </div>
                <div class="col-md-12 profile-user-stats">
                    <span class="header-stats-right">
                        <span class="header-stats-button" ng-click="followUser()" ng-show="follow"><i class="fa fa-user-plus"></i> Follow</span>
                        <span class="header-stats-button" ng-click="unfollowUser()" ng-show="following"><i class="fa fa-user-times"></i> Unfollow</span>
                    </span>
                    <span class="header-stats-info">
                        <span ui-sref="user-captures({id: id})">
                            <span class="header-stats-count">{{captures.length}}</span>
                            <span class="header-stats-title clickable">Captures</span>
                        </span>
                        <span class="header-stats-devider"> | </span>
                        <span class="clickable" ng-click="showFollowing()">
                            <span class="header-stats-count">{{meFollowing.length}}</span>
                            <span class="header-stats-title">Following</span>
                        </span>
                        <span class="header-stats-devider"> | </span>
                        <span class="clickable" ng-click="showFollowers()">
                            <span class="header-stats-count">{{myFollowers.length}}</span>
                            <span class="header-stats-title">Followers</span>
                        </span>
                    </span>
                </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="well main-well">
            <h3 class="page-header-h3">Recent Activity</h3>
            <hr />
            <div ng-if="captures" ng-repeat="capture in captures | orderBy :'created_at':true | startFrom:currentPage:pageSize" class="list-group-item dash-posts">
                <div class="thumbnail no-border no-margin-bottom"> 
                    <h4 class="dash-capture-info">
                        <span>
                            <i class="fa fa-user"></i> 
                                <strong>{{capture.author}}</strong> captured a photo in 
                            <span class="fa fa-map-marker"></span> <span ng-click="showGoogleMap(capture.place)" class="clickable location-click"><strong>{{capture.place}}</strong></span>
                        </span>
                    </h4>
                    <a ui-sref="detail({id: capture._id})">
                        <img ng-src="{{capture.picture}}" alt="bird" onload="this.style.opacity='1';" class="dash-thumb-img .thumb-min feed-image"></img>
                    </a>
                    <h5 class="dash-capture-time"><span class="glyphicon glyphicon-time"></span>&#160;<span am-time-ago="capture.created_at"></span></h5>
                    <hr />
                </div>
            </div>
            <p ng-if='noCaptures' class="no-captures-found">
                Uh oh! <br />
                It seems like this user has not posted any captures yet.. <br />
                <img src="/img/noCaptures.jpg"/>
            </p>
            <uib-pagination ng-show="captures.length > pageSize"
                            total-items="captures.length"
                            items-per-page="pageSize"
                            ng-model="currentPage">
            </uib-pagination>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3 class="page-header-h3">{{captures.length}} Photo's Posted</h3>
            <a ui-sref="user-captures({id: id})" class="view-all-captures">View Full Gallery</a>
            <hr />
            <div class="row">
                <div ng-if="captures" ng-repeat="capture in captures | orderBy :'created_at':true | limitTo: 8" class="list-group-item profile-captures-wrapper col-md-6 clickable">
                    <span ng-click="showImgPreview(capture)">
                        <div class="thumbnail no-border no-margin-bottom profile-captures" style="background-image: url('{{capture.picture}}')"></div>
                    </span>
                </div>
                <p ng-if='noCaptures' class="no-captures-found">
                    No Images Found! :(
                </p>
            </div>
        </div>
    </div>
    
    <div class="follow-popup" ng-if="followShow">
        <div class="follow-header">
            <h1>Followers</h1>
            <span class="glyphicon glyphicon-remove close-follow"  ng-click="closeFollow()"></span>
            <hr/>
        </div>
        <ul ng-scrollbars class="list-group follow-content">
            <li ng-if="follows" ng-repeat="follow in follows" class="follow-list">
                <a ui-sref="user-profile({id: follow.user_id})" class="captureLink">
                    <p><img ng-src="{{follow.picture}}" class="follow-pictures"><span><span>{{follow.name}}</span></span></p>
                </a>
                <hr />
            </li>
        </ul>
    </div>
    <div class="follow-wrapper" ng-if="followShow" ng-click="closeFollow()"></div>
    
    
    <div map-lazy-load="https://maps.google.com/maps/api/js" class="google-maps" ng-if="mapShow">
      <ng-map center="{{birdLocation}}" zoom="12">
          <marker position="{{birdLocation}}" centered="true"></marker>
      </ng-map>
      <span class="glyphicon glyphicon-remove close-popup"  ng-click="closeMap()"></span>
    </div>
    <div class="map-wrapper" ng-if="mapShow" ng-click="closeMap()"></div>
    
    <!--<div class="overlay-image-preview" ng-if="imgPreviewShow">-->
    <!--    <span ng-click="closeImgPreview()">Test</span>-->
    <!--    <img ng-src="{{thisCapture.picture}}" class="preview-image" />-->
    <!--    <div class="preview-text">-->
    <!--        <h4 class="dash-capture-info">-->
    <!--            <span>-->
    <!--                <i class="fa fa-user"></i> -->
    <!--                    <strong>{{thisCapture.author}}</strong> captured a photo in -->
    <!--                <span class="fa fa-map-marker"> </span><strong>{{thisCapture.place}}</strong>-->
    <!--            </span>-->
    <!--        </h4>-->
    <!--        <h5 class="dash-capture-time"><span class="glyphicon glyphicon-time"></span>&#160;<span am-time-ago="thisCapture.created_at"></span></h5>-->
    <!--    </div>-->
    <!--</div>-->
    
    <div class="image-preview-popup" ng-if="imgPreviewShow">
        <div class="image-preview-content">
            <img ng-src="{{thisCapture.picture}}" class="preview-image" />
            <div class="image-preview-text">
                <span>
                    <a ui-sref="detail({id: thisCapture._id})" class="preview-image-link clickable">{{thisCapture.birdname}}</a> 
                     · <span class="glyphicon glyphicon-time"></span>&#160;<span am-time-ago="thisCapture.created_at"></span>
                </span>
            </div>
        </div>
    </div>
    <span class="glyphicon glyphicon-remove close-popup"  ng-click="closeImgPreview()" ng-if="imgPreviewShow"></span>
    <div class="overlay-image-preview " ng-if="imgPreviewShow" ng-click="closeImgPreview()"></div>
</div>  