<div class="col-md-12">
    <div class="well profile-header-content">
        <div class="row profile-heading-row">
            <div class="profile-heading-info">
                <img class="profile-pic" ng-src="{{profilePic()}}" alt="{{user.nickname}}" width="200" height="200"/>

                <div class="profile-heading">
                    <h3 class="profile-heading-name clickable" ui-sref="user-profile({id: id})">{{user.name}}</h3>
                    <span>{{user.email}}</span>
                </div>
            </div>
            <i  class="connected fa {{connectedWith()}}"></i>
        </div>
            <div class="col-md-12 profile-user-stats">
                <span class="header-stats-right">
                    <span class="header-stats-button" ng-click="followUser()" ng-show="follow"><i class="fa fa-user-plus"></i> Follow</span>
                    <span class="header-stats-button" ng-click="unfollowUser()" ng-show="following"><i class="fa fa-user-times"></i> Unfollow</span>
                </span>
                <span class="header-stats-info">
                    <span ui-sref="user-captures({id: id})">
                        <span class="header-stats-count">{{captures.length}}</span>
                        <span class="header-stats-title clickable">Captures</span>
                    </span>
                    <span class="header-stats-devider"> | </span>
                    <span class="clickable" ng-click="showFollowing()">
                        <span class="header-stats-count">{{meFollowing.length}}</span>
                        <span class="header-stats-title">Following</span>
                    </span>
                    <span class="header-stats-devider"> | </span>
                    <span class="clickable" ng-click="showFollowers()">
                        <span class="header-stats-count">{{myFollowers.length}}</span>
                        <span class="header-stats-title">Followers</span>
                    </span>
                </span>
            </div>
    </div>
</div>

<div class="col-md-12">
    <div class="well main-well">
        <h3 class="page-header-h3 header-inline col-md-8">Captures:</h3>
        <!--<form class="form-inline profile-search">-->
        <!--    <input type="text" ng-model="search" class="form-control" placeholder="Search capture">-->
        <!--</form>-->
        <form class="input-group col-md-4 form-inline">
          <input type="text" class="form-control" placeholder="Search captures" ng-model="search.place">
          <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Options <span class="glyphicon glyphicon-cog"></span> </button>
                <ul class="dropdown-menu">
                    <li><input type="radio"  name="searchoption" value="All" id="All" checked><label for="all">Search through all</label></li>
                    <li><input type="radio" name="searchoption" value="Birdname" id="Birdname"><label for="birdname">Search by birdname</label></li>
                    <li><input type="radio" name="searchoption" value="Place" id="Place"><label for="place">Search by place</label></li>
                </ul>
          </div>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"> </span></button>
          </span>
        </form>
        <hr />
        <div class="row">
            <ul masonry="true">
                    <li ng-repeat="capture in captures|filter:search:strict|orderBy:'created_at':true|startFrom:currentPage:10" class="masonry-item clickable">
                        <img ng-src="{{capture.picture}}" imageonload alt="bird" onload="this.style.opacity='1';" class="masonry-image" ng-click="showImgPreview(capture)"></img>
                    </li>
            </ul>
            <p ng-if='noCaptures' class="no-captures-found">
                Uh oh! <br />
                It seems like this user has not posted any captures yet.. <br />
                <img src="/img/noCaptures.jpg"/>
            </p>
            <uib-pagination ng-show="captures.length > 10"
                            total-items="captures.length"
                            items-per-page="10"
                            ng-model="currentPage">
            </uib-pagination>
        </div>
    </div>
</div>

<div class="follow-popup" ng-if="followShow">
    <div class="follow-header">
        <h1>Followers</h1>
        <span class="glyphicon glyphicon-remove close-follow"  ng-click="closeFollow()"></span>
        <hr/>
    </div>
    <ul ng-scrollbars class="list-group follow-content">
        <li ng-if="follows" ng-repeat="follow in follows" class="follow-list">
            <a ui-sref="user-profile({id: follow.user_id})" class="captureLink">
                <p><img ng-src="{{follow.picture}}" class="follow-icons"><span><span>{{follow.name}}</span></span></p>
            </a>
            <hr />
        </li>
    </ul>
</div>
<div class="follow-wrapper" ng-if="followShow" ng-click="closeFollow()"></div>

<div class="image-preview-popup" ng-if="imgPreviewShow">
    <div class="image-preview-content">
        <img ng-src="{{thisCapture.picture}}" class="preview-image" />
        <div class="image-preview-text">
            <span>
                <a ui-sref="detail({id: thisCapture._id})" class="preview-image-link clickable">{{thisCapture.birdname}}</a> 
                 · <span class="glyphicon glyphicon-time"></span>&#160;<span am-time-ago="thisCapture.created_at"></span>
            </span>
        </div>
    </div>
</div>
<span class="glyphicon glyphicon-remove close-popup"  ng-click="closeImgPreview()" ng-if="imgPreviewShow"></span>
<div class="overlay-image-preview " ng-if="imgPreviewShow" ng-click="closeImgPreview()"></div>