<div class="col-md-4 no-padding-left">
    <div class="well">
        <div class="panel-heading text-center">
            <h4 class="no-margin-top no-margin-bottom">{{user.name}}</h4>
        </div>
        <div class="thumbnail no-border no-margin-bottom thumb-min">
            <img class="profile-pic dash-thumb-img" onload="this.style.opacity='1';" ng-src="{{profilePic()}}" alt="{{user.nickname}}" width="200" height="200"/>
        </div>
        <ul class="list-group">
            <li class="list-group-item text-center"><span class="glyphicon glyphicon-user"></span> {{user.nickname}}</li>
            <li class="list-group-item text-center"><span class="glyphicon glyphicon-envelope"></span> {{user.email}}</li>
            <li class="list-group-item text-center"><strong>Last login: </strong> <span am-time-ago="user.last_login"></span></li>
        </ul>
        <p class="text-center no-margin-bottom"><strong>Connected with</strong></p>
        <div class="thumbnail no-border no-margin-bottom">
            <img class="img-rounded" src="{{connectedWith()}}" width="50" height="50"/>
        </div>
    </div>
    
     <button type="button" class="btn margin-left btn-success" ng-click="followUser()" ng-if="follow" >Follow User</button>
     <button type="button" class="btn margin-left btn-danger" ng-click="unfollowUser()"  ng-if="following">Unfollow User</button>
     

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h4 class="no-margin-top no-margin-bottom">Followed by: {{followingMe}} people</h4>
            <hr />
            <h4 class="no-margin-top no-margin-bottom">Following: {{meFollowing}} people</h4>
        </div>
    </div>
</div>


<div class="col-md-8 no-padding-right">
    <div class="panel panel-primary">
        <div class="list-group-item active text-center">
            <h4 class="no-margin-top no-margin-bottom">Your Recent Activity</h4>
        </div>
        
        <a ui-sref="detail({id: capture._id})" class="list-group-item" ng-if="captures" ng-repeat="capture in captures | orderBy :'created_at':true | startFrom:currentPage:pageSize ">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail no-border no-margin-bottom">         
                        <img ng-src="{{capture.picture}}" alt="bird" width="150" height="150"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 class="no-margin-top no-margin-bottom"><strong>{{capture.birdname}}</strong></h4>
                    <strong>Picture taken in:</strong> {{capture.place}}
                </div>
            </div>
        </a>
        
        <a href="#" class="list-group-item" ng-if="captures == 0">
            <p>NOTHING FOUND</p>
        </a>
        
        <uib-pagination ng-if="captures.length > pageSize"
                        total-items="captures.length"
                        items-per-page="pageSize"
                        ng-model="currentPage">
        </uib-pagination>
    </div>
</div>
