<div class="col-md-12">
    <div class="well main-well">
        <p class="capture-manage-icons" ng-if="postAuthor">
            <span class="glyphicon glyphicon-pencil brand-color-link"
                ng-bootbox-title="Edit Capture"
                ng-bootbox-custom-dialog
                ng-bootbox-custom-dialog-template="/partials/model/editCapture.html">
            </span> 
            <span class="glyphicon glyphicon-trash brand-color-link" 
                ng-bootbox-confirm-action-cancel="cancel()"
                ng-bootbox-confirm-action="deleteCapture()" 
                ng-bootbox-confirm="Are you sure you want to delete this?">
            </span>
        </p>
        <h3  class="page-header-h3 clickable brand-color-link" popover-placement="bottom-left" popover-trigger="mouseenter" popover-append-to-body uib-popover-template="birdInfoPopover.templateUrl">
            <span popover-title="{{capture.birdname}}" class="glyphicon glyphicon-info-sign"></span> 
            {{capture.birdname}}
        </h3>
        <h4><a ui-sref="user-profile({id: capture.userId})" class="clickable"><i class="fa fa-user"></i> {{capture.author}}</a> in <span class="fa fa-map-marker"></span> {{capture.place}}</h4>
        <h5 ng-if="capture.note"><i>"{{capture.note}}"</i></h5>
        <hr />
        
        <div class="thumbnail no-border view-capture-thumb"> 
            <img class="captureImg clickable" ng-src="{{capture.picture}}" ng-click="openImageModel()"/>
        </div>
        
            <div class="vote-comment-buttons">
                <span class="dropdown inline capture-action-buttons">
                    <span class="dropdown-toggle clickable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-share" id="shareDropDown"></i> Share</span>
                    <ul class="dropdown-menu" aria-labelledby="shareDropDown">
                        <li><a
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-popup-height="400"
                            socialshare-url="https://birdspotter-cedricbongaerts.c9users.io/#/detail/{{id}}"
                            socialshare-popup-width="400">
                            <span class="share-buttons"><i class="fa fa-facebook-official share-icon"></i>Facebook</span>
                            </a>
                        </li>
                    </ul>
                </span> 
                <span class="clickable capture-action-buttons"><span class="glyphicon glyphicon-comment clickable"></span> Comment </span>  
                <span ng-click="likeCapture()" ng-show="like" class="clickable capture-action-buttons"><span class="glyphicon glyphicon-heart"></span> Like</span>
                <span ng-click="unlikeCapture()" ng-show="liked" class="clickable capture-action-buttons"><span class="glyphicon glyphicon-heart-empty"></span> Unlike</span>
            </div>
        <hr />
        <div>
            <h4> Comments ({{capture.comments.length}}):</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
            	<form name="addComments" ng-submit="addComment()">
                        <div class="form-group">
                            <label for="birdname">Comment:</label>
                            <input type="text" class="form-control" id="comment" class="col-md-6" ng-model="comment" placeholder="Comment" ng-enter="addComment()"> 
                        </div>
                        <div class="form-group" ng-show="capture.birdname=='Unknown'">
                            <label for="birdname">Birdname:</label>
                            <input type="text" class="form-control" id="birdSuggestion" class="col-md-6" ng-model="birdSuggestion" placeholder="Birdname"
                                uib-typeahead="bird for bird in birds | filter:$viewValue | limitTo:8" ng-enter="addComment()"
                                uib-tooltip="The users has not added a birdname to his capture! This is most likely because he does not know the name. If you know it, let him know."
                                tooltip-placement="top"
                                tooltip-trigger="mouseenter"
                                tooltip-enable="!birdname">
                        </div>
                </form>
                </div>
                <div class="col-md-8">
                    <ul ng-scrollbars ng-scrollbars-config="config" class="list-group comments">
                        <li ng-repeat="comment in capture.comments" class="list-group-item comment">
                                <span ng-show="comment.comment"><a ui-sref="user-profile({id: comment.userId})" class="captureLink"><strong>{{comment.author}}</strong></a> {{comment.comment}} 
                                </span>
                                <span ng-show="comment.birdSuggestion">Attention: <a ui-sref="user-profile({id: comment.userId})" class="captureLink"><strong>{{comment.author}}</strong></a> gave the birdname: 
                                <span><strong>{{comment.birdSuggestion}}</strong></span></span>  
                                <span class="commentActions">
                                    <span am-time-ago="comment.created_at"></span>
                                    <span ng-if="comment.userId == auth.profile.user_id" ng-click="deleteComment($index)"> · <span class="clickable brand-color-link">Delete</span></span>
                                </span>
                    	</li>
                	</ul>
                </div>
            </div>
        </div>
    </div>
</div>    