<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="Birdspotter" />
    <meta property="og:image" content="https://i.imgur.com/j4b0PFF.png" />
    <meta property="og:description" content="Discover & Share your avian photos" />
    <meta property="og:url" content="https://birdspotter-cedricbongaerts.c9users.io/" />
    <link rel="icon" href="img/logo.png">
    <title ng-bind="$state.current.data.pageTitle">Birdspotter</title>
    
    <!-- Lato Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    
    <!-- Loadingbar CSS -->
    <link rel="stylesheet" href="/lib/angular-loading-bar/build/loading-bar.min.css">
    
    <!-- Notifications CSS -->
    <link rel="stylesheet" href="/lib/angular-notification-icons/dist/angular-notification-icons.min.css">
    <link rel="stylesheet" href="/lib/angular-ui-notification/dist/angular-ui-notification.min.css">

    
    <!-- Bootstrap core JavaScript -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
    
    <!-- Masonry -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js"></script>
    
    <!-- Custom Scrollbar -->
    <link rel="stylesheet" href="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
    
    <!-- Google places Api & Maps-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4WM_531qnWnu1lNM824QE0ITMBvzjMqU&libraries=places&language=en"></script>
    
    <!-- AngularJS libraries-->
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/lib/a0-angular-storage/dist/angular-storage.min.js"></script>
    <script type="text/javascript" src="/lib/angular-jwt/dist/angular-jwt.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script type="text/javascript" src="/lib/ng-autocomplete/src/ngAutocomplete.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/lib/allmighty-autocomplete/script/autocomplete.js"></script>
    <script type="text/javascript" src="/lib/allmighty-autocomplete/script/app.js"></script>
    <script type='text/javascript' src='/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
    <script type='text/javascript' src="/lib/moment/moment.js"></script>
    <script type='text/javascript' src='/lib/angular-moment/angular-moment.min.js'></script>
    <script type='text/javascript' src='/lib/bootbox/bootbox.js'></script>
    <script type='text/javascript' src='/lib/ngBootbox/dist/ngBootbox.js'></script>
    <script type='text/javascript' src="/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type='text/javascript' src="/lib/ng-scrollbars/dist/scrollbars.min.js"></script>
    <script type='text/javascript' src="/lib/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <script type='text/javascript' src="/lib/angulargrid/angulargrid.min.js"></script>
    <script type='text/javascript' src="/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type='text/javascript' src="/lib/angular-animate/angular-animate.min.js"></script>
    <script type='text/javascript' src="/lib/angular-notification-icons/dist/angular-notification-icons.min.js"></script>
    <script type='text/javascript' src="/lib/ngmap/build/scripts/ng-map.min.js"></script>
    <script type='text/javascript' src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type='text/javascript' src="/lib/ng-text-truncate/ng-text-truncate.js"></script>
    <script type='text/javascript' src="/lib/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    
    <!-- Filestack -->
    <script type="text/javascript" src="/lib/filepicker-js/filepicker.min.js"></script>
    <script type="text/javascript" src="/lib/angular-filepicker/dist/angular_filepicker.min.js"></script>
    
    <!-- Uploadcare -->
    <script charset="utf-8" src="https://ucarecdn.com/widget/2.1.4/uploadcare/uploadcare.min.js"></script>
    <script type="text/javascript" src="/lib/angular-uploadcare/angular-uploadcare.js"></script>
    <script>UPLOADCARE_PUBLIC_KEY = '39a1e5535522d5d7efc2';</script>
    
    <!-- Auth0's libraries -->
    <script type="text/javascript" src="https://cdn.auth0.com/js/lock-9.1.js"></script>
    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
    
    <!-- Third-party libraries -->
    <script  type="text/javascript" src="/lib/angularUtils-pagination/dirPagination.js"></script>
    
    <!-- Main app module -->
    <script  type="text/javascript" src="/js/app.js"></script>
    
    <!-- Controllers -->
    <script  type="text/javascript" src="/js/controllers/homeCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/navCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/dashboardCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/followingCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/captureCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/viewCaptureCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/viewUserCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/usersCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/notificationsCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/errorCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/birdlistCtrl.js"></script>
    <script  type="text/javascript" src="/js/controllers/birdcapturesCtrl.js"></script>
    
    <!-- Directives -->
    <script  type="text/javascript" src="/js/directives/ngEnter.js"></script>
    <script  type="text/javascript" src="/js/directives/ngConfirmClick.js"></script>
    <script  type="text/javascript" src="/js/directives/ngSlideToggle.js"></script>
    <script  type="text/javascript" src="/js/directives/wikiContent.js"></script>
    <script  type="text/javascript" src="/js/directives/anchorSmoothScroll.js"></script>
    <script  type="text/javascript" src="/js/directives/ngMasonry.js"></script>
    <script  type="text/javascript" src="/js/directives/ngReverseGeocode.js"></script>
    
    
    <!-- Services -->
    <script  type="text/javascript" src="/js/services/captureService.js"></script>
    <script  type="text/javascript" src="/js/services/birdService.js"></script>
    <script  type="text/javascript" src="/js/services/userService.js"></script>
    <script  type="text/javascript" src="/js/services/voteService.js"></script>
    <script  type="text/javascript" src="/js/services/commentService.js"></script>
    <script  type="text/javascript" src="/js/services/birdsuggestionService.js"></script>
    <script  type="text/javascript" src="/js/services/notificationService.js"></script>
  </head>

  <body ng-cloak ng-class="[{'error-main':$state.current.name === 'error'}]">
    <!-- Navbar -->
      <nav class="navbar navbar-default navbar-static-top" ng-controller="navCtrl" id="top">
      <span class="navbar-brand center-brand" ng-if="!auth.isAuthenticated"><img src="/img/logo.png" width="30px" /><span>Birdspotter</span></span>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-if="auth.isAuthenticated">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="dashboard" ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in"><img src="/img/logo.png" width="30px" /><span>Birdspotter</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="{active: isActive('/dashboard')}"><a ui-sref="dashboard"><span class="glyphicon nav-glyph glyphicon-globe"></span> <span class="nav-names"> Dashboard</span></a></li>-->
            <li ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="{active: isActive('/capture')}"><a ui-sref="capture"><span class="glyphicon nav-glyph glyphicon-camera"></span><span class="nav-names">Post a Capture</span></a></li>
            <li ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="{active: isActive('/birdlist')}"><a ui-sref="birdcaptures"><img src="/img/bird-nav-icon.png" class="image-icon bird-icon-nav" /><span class="nav-names">Bird Captures</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="auth.isAuthenticated">
              <div class="input-group search-nav" ng-class="{ 'has-error': noResults }">
                 <input type="text" class="form-control search-input-nav" placeholder="Birdname" autocomplete="off" ng-model="findBird" typeahead-no-results="noResults"
                        uib-typeahead="bird for bird in birds | filter:$viewValue | limitTo:8" typeahead-select-on-blur="false" ng-enter="findBirdlist(findBird, noResults)">
                 <div class="ErrorSearchBird" ng-if="noResults">
                   <div class="errorTriangle"></div>
                   <div class="errorText">Please pick a valid birdname</div>
                 </div>
                 <span class="input-group-btn">
                     <button class="btn btn-default search-button-nav" type="button" ng-click="findBirdlist(findBird, noResults)"><span class="glyphicon glyphicon-search"></span></button>
                 </span>
              </div>
            </li>
            <li data-toggle="collapse" ng-if="auth.isAuthenticated" data-target=".navbar-collapse.in" ng-class="{active: isActive('/notifications')}" ng-click="clearNavNotification()"><a ui-sref="notifications"><notification-icon count="countNotification"><i class="fa nav-glyph fa-bell"></i><notification-icon></notification-icon><span class="nav-names notifications-nav-name">Notifications</span></a></li>
            <li class="dropdown inline navbar-drop-tag clickable" ng-if="auth.isAuthenticated">
             <span class="dropdown-toggle clickable navbar-toggle-dropdown" data-toggle="dropdown"><img ng-src="{{auth.profile.picture}}" width="27" /><span class="nav-names user-name-nav">{{auth.profile.given_name}}</span></span>
                    <ul class="dropdown-menu nav-dropdown" aria-labelledby="navDropDown">
                        <li ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="{active: isActive('/following')}"><a ui-sref="following"><img src="/img/personal-nav-icon.png" width="30" class="image-icon glyph-drop" /><span class="nav-names-drop follow-icon-text">Following Dashboard</span></a></li>
                        <li data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="{active: isActive('/user-profile/{{auth.profile.user_id}}')}"><a ui-sref="user-profile({id: auth.profile.user_id})"><i class="fa fa-user nav-glyph glyph-drop"></i><span class="nav-names-drop">Profile</span></a></li>
                        <li data-toggle="collapse" data-target=".navbar-collapse.in"><a ui-sref="home" ng-click="logout()"><i class="fa fa-sign-out nav-glyph glyph-drop"></i><span class="nav-names-drop">Logout</span></a></li>
                    </ul>
            </li>
            <!--<li data-toggle="collapse" data-target=".navbar-collapse.in"><a ui-sref="home" ng-click="login()">Register & Login</a></li>-->
            <!--<li ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in" ng-class="{active: isActive('/user-profile/{{auth.profile.user_id}}')}"><a ui-sref="user-profile({id: auth.profile.user_id})"> {{auth.profile.given_name}}</a></li>-->
            <!--<li ng-if="auth.isAuthenticated" data-toggle="collapse" data-target=".navbar-collapse.in"><a ui-sref="home" ng-click="logout()">Logout</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div id="loading-bar-container"></div>
    </nav>
    <!-- Container -->
      <div ui-view>
      </div>
    <!-- End Container -->
    </div>
    <div class="footer" ng-if="$state.current.name === 'home'" ng-controller="homeCtrl">
        <div class="footer-content container">
            <div class="footer-logo col-md-4">
                <img src="/img/transparent-logo.png" class="footer-logo"/>
                <p>by Cedric Bongaerts</p>
            </div>
            <div class="footer-links clickable col-md-8">
              <div class="links-wrapper">
                  <span anchor-smooth-scroll="top">Top</span>
                  <span anchor-smooth-scroll="info-preview">Preview</span>
                  <span anchor-smooth-scroll="info-details">Features</span>
                  <span ng-click="login()">Connect</span>
              <!--<span>© Cedric Bongaerts - 2016</span>-->
              </div>
            </div>
        </div>
    </div>
    <div class="mainfooter" ng-if="$state.current.name !== 'home'" ng-controller="navCtrl">
        <div class="mainfooter-content container">
            <div class="col-md-4">
              <span>© 2016 Birdspotter. By Cedric Bongaerts</span>
            </div>
            <div class="col-md-4">
              <img src="/img/transparent-logo.png" width="30px" />        
            </div>
            <div class="col-md-4">
              <a ui-sref="home" class="mainfooter-links clickable">Home</a> | 
              <a ui-sref="users" class="mainfooter-links clickable">Userlist</a> | 
              <a href="mailto:Cedric.bongaerts@hotmail.com" class="mainfooter-links clickable">Contact</a>
            </div>
        </div>
    </div>
  </body>
</html>